header {
  text-align: center;
  height: 25vh;
  width: 100%;
  margin: 0;
  background-color: cadetblue;
  display: flex;
  justify-content: space-evenly;
}

.formSection {
  margin-top: 50px;
  justify-content: center;
}
form {
  min-width: 250px;
}

/* .listSection {
  justify-content: center;
} */

#cardList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

h2 {
  text-align: center;
}

.card-body {
  padding: 0;
  position: relative;
}
.card-title,
.card-text {
  padding: 5px;
}

.card > img {
  float: left;
  height: 150px;
  object-fit: cover;
}

.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.card {
  min-width: 250px;
  min-height: 350px;
  max-width: 250px;
  margin: 5px;
}
